@{
    ViewData["Title"] = "About";
}
@model PersonsViewModel
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<form role="form" action="/Persons/Search" method="post">
    <div class="form-group">
        <label class="control-label" for="personName">Name To Search</label>
        <input type="text" class="form-control" id="personName" name="personName" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>LastName</th>
        <th>Disabled</th>
    </tr>
    @{
        foreach (var person in Model.PersonList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => person.Id)</td>

                <td>@Html.DisplayFor(modelItem => person.Firstname)</td>
                <td>@Html.DisplayFor(modelItem => person.LastName)</td>

                <td>@Html.DisplayFor(modelItem => person.Disabled)</td>
            </tr>
        }
    }
</table>
